body {
    background-color: #eeb4ee;
}

.gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.js-form {
    text-align: center;
    margin-bottom: 10px;
    
}

input {
    width: 25%;
    appearance: none;
    border: 5px;
    outline: none;
    padding-left: 15px;
    color: #313030;
    background: linear-gradient(to right, #ee39ee, #951169);
}

button {
    border-color: #df62df;
    background-color: #df62df;
}

.load-more {
    margin: auto;
    width: 125px;
    height: 50px;
}

.photo-card{
    border-top: rgba(0,0,0,0);
    justify-content: center;
    gap: 10px;
    display: flex;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
  }
  .info-item {
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-top: 8px;
    display: flex;
  }
  .head {
    height: 48px;
    width: 100%;
    top: 0;
    background-color: #f577f5;
  }
  .hidden {
    display: none;
}